In [415]:
import pandas as pd
import numpy as np

In [416]:
YEARS=3

In [417]:
dataset=[]
for i in range(YEARS):
    dataset.append(pd.read_excel('y'+str(i+1)+'.xlsx','Batsmen'))

In [418]:
curr=dataset

In [419]:
# name_dict={value:curr[0].iloc[:,1:].values[idx] for idx,value in enumerate(curr[0].iloc[:,0].values)}

In [420]:
name_dict_array=[]
for i in range(YEARS):
    temp={value:curr[i].iloc[:,1:].values[idx] for idx,value in enumerate(curr[i].iloc[:,0].values)}
    name_dict_array.append(temp)

In [421]:
name_dict_array[0].get('KL Rahul')

array([ 14.  ,   2.  , 659.  ,  54.91, 416.  , 158.41])

In [422]:
name_dict_array.__len__()

3

In [423]:
temp=[len(i) for i in name_dict_array]
idx=0
R=len(name_dict_array[0])
for i,j in enumerate(temp):
    if(j>R):
        R=j
        idx=i
print(idx,R)

2 144

In [424]:
ref=name_dict_array.pop(idx)

In [425]:
YEARS-=1

In [426]:
def help(arr):
    for i in arr:
        if(i is None):
            return False
    return True


def help2(a):
    L=len(a)
    M=len(a[0])
    temp=[]
    for i in range(M):
        S=0
        for j in range(L):
            S+=a[j][i]
        temp.append(S/(YEARS+1))
    return temp

    
    
final=[]
for i in range(YEARS):
    for ref_name in ref.keys():
        temp=[ref[ref_name],*[x.get(ref_name) for x in name_dict_array]]
        if(not help(temp)):
            continue   
        final.append([ref_name,*help2(temp)])

In [427]:
batsmen_final_list=pd.DataFrame(final,columns=['Player','Inns','NO','Runs','Avg','BF','SR'])
batsmen_final_list

,Player,Inns,NO,Runs,Avg,BF,SR
0,Shikhar Dhawan,15.333333,1.666667,499.000000,36.600000,374.333333,133.323333
1,Chris Gayle,11.000000,1.000000,352.666667,34.643333,244.666667,140.773333
2,Rishabh Pant,14.666667,1.333333,512.666667,38.760000,305.000000,167.290000
3,Virat Kohli,12.666667,1.000000,434.000000,37.373333,320.333333,134.260000
4,Shreyas Iyer,14.000000,2.000000,404.000000,34.006667,313.000000,130.536667
...,...,...,...,...,...,...,...
149,Siddarth Kaul,2.333333,1.000000,1.000000,0.333333,5.666667,7.140000
150,Jasprit Bumrah,2.666667,2.000000,8.666667,8.666667,8.000000,74.743333
151,Andrew Tye,4.000000,1.333333,28.333333,10.610000,23.333333,86.956667
152,Mohit Sharma,4.000000,1.666667,20.333333,6.166667,21.666667,59.640000
153,Sam Billings,5.000000,0.000000,82.000000,12.166667,62.000000,90.383333

# Bowlers

In [428]:
YEARS=3

In [429]:
dataset=[]
for i in range(YEARS):
    dataset.append(pd.read_excel('y'+str(i+1)+'.xlsx','Bowlers'))

In [430]:
curr=dataset

In [431]:
# name_dict={value:curr[0].iloc[:,1:].values[idx] for idx,value in enumerate(curr[0].iloc[:,0].values)}

In [432]:
name_dict_array=[]
for i in range(YEARS):
    temp={value:curr[i].iloc[:,1:].values[idx] for idx,value in enumerate(curr[i].iloc[:,0].values)}
    name_dict_array.append(temp)

In [433]:
name_dict_array[0].get('KL Rahul')

In [434]:
name_dict_array.__len__()

3

In [435]:
temp=[len(i) for i in name_dict_array]
idx=0
R=len(name_dict_array[0])
for i,j in enumerate(temp):
    if(j>R):
        R=j
        idx=i
print(idx,R)

1 106

In [436]:
ref=name_dict_array.pop(idx)

In [437]:
YEARS-=1

In [438]:
def help(arr):
    for i in arr:
        if(i is None):
            return False
    return True


def help2(a):
    L=len(a)
    M=len(a[0])
    temp=[]
    for i in range(M):
        S=0
        for j in range(L):
            S+=a[j][i]
        temp.append(S/(YEARS+1))
    return temp

    
    
final=[]
for i in range(YEARS):
    for ref_name in ref.keys():
        temp=[ref[ref_name],*[x.get(ref_name) for x in name_dict_array]]
        if(not help(temp)):
            continue   
        final.append([ref_name,*help2(temp)])

In [439]:
bowlers_final_list=pd.DataFrame(final,columns=['Player','Ov','Wkts','Avg','Econ','SR'])
bowlers_final_list

,Player,Ov,Wkts,Avg,Econ,SR
0,Bhuvneshwar Kumar,52.433333,16.000000,29.660000,7.506667,23.356667
1,Jaydev Unadkat,44.300000,15.000000,32.463333,9.110000,20.433333
2,Jasprit Bumrah,58.200000,18.666667,21.783333,6.966667,18.773333
3,Mitchell McClenaghan,37.333333,12.000000,32.573333,8.520000,23.396667
4,Rashid Khan,60.666667,18.333333,21.673333,6.543333,19.880000
...,...,...,...,...,...,...
91,Yusuf Pathan,2.333333,0.666667,18.333333,8.416667,12.000000
92,Deepak Chahar,36.466667,11.000000,41.233333,8.440000,27.496667
93,Carlos Brathwaite,6.366667,2.000000,28.600000,10.020000,16.066667
94,Shakib Al Hasan,23.500000,5.333333,26.690000,9.030000,18.973333
95,Barinder Sran,9.333333,1.333333,19.083333,12.550000,11.000000

In [440]:
import xlsxwriter
writer = pd.ExcelWriter('merged.xlsx', engine='xlsxwriter')
batsmen_final_list.to_excel(writer, sheet_name='Batsmen',index=False)
bowlers_final_list.to_excel(writer, sheet_name='Bowlers',index=False)
writer.save()