In [96]:
import pandas as pd
import numpy as np

In [97]:
YEARS=2
batsmen_dataset=[]
bowlers_dataset=[]

for i in range(YEARS):
    batsmen_dataset.append(pd.read_excel('y'+str(i+1)+'.xlsx','Batsmen'))
    bowlers_dataset.append(pd.read_excel('y'+str(i+1)+'.xlsx','Bowlers'))

In [98]:
curr=batsmen_dataset

In [99]:
curr[1]

             Player  Inns  NO  Runs    Avg   BF      SR
0      David Warner    14   3   641  58.27  452  141.81
1    Gautam Gambhir    16   4   498  41.50  389  128.02
2    Shikhar Dhawan    14   1   479  36.84  376  127.39
3       Steve Smith    15   3   472  39.33  387  121.96
4      Suresh Raina    14   3   442  40.18  307  143.97
..              ...   ...  ..   ...    ...  ...     ...
138   Siddarth Kaul     1   1     0   0.00    2    0.00
139     Munaf Patel     1   0     0   0.00    1    0.00
140   Akshdeep Nath     1   0     0   0.00    1    0.00
141    Chris Jordan     1   0     0   0.00    1    0.00
142     Imran Tahir     1   1     0   0.00    2    0.00

[143 rows x 7 columns]

In [100]:
# name_dict={value:curr[0].iloc[:,1:].values[idx] for idx,value in enumerate(curr[0].iloc[:,0].values)}

In [101]:
name_dict_array=[]
for i in range(YEARS):
    temp={value:curr[i].iloc[:,1:].values[idx] for idx,value in enumerate(curr[i].iloc[:,0].values)}
    name_dict_array.append(temp)

In [102]:
name_dict_array[1]

{'David Warner': array([ 14.  ,   3.  , 641.  ,  58.27, 452.  , 141.81]),
 'Gautam Gambhir': array([ 16.  ,   4.  , 498.  ,  41.5 , 389.  , 128.02]),
 'Shikhar Dhawan': array([ 14.  ,   1.  , 479.  ,  36.84, 376.  , 127.39]),
 'Steve Smith': array([ 15.  ,   3.  , 472.  ,  39.33, 387.  , 121.96]),
 'Suresh Raina': array([ 14.  ,   3.  , 442.  ,  40.18, 307.  , 143.97]),
 'Hashim Amla': array([ 10.  ,   3.  , 420.  ,  60.  , 288.  , 145.83]),
 'Manish Pandey': array([ 13.  ,   5.  , 396.  ,  49.5 , 308.  , 128.57]),
 'Parthiv Patel': array([ 16.  ,   0.  , 395.  ,  24.68, 293.  , 134.81]),
 'Rahul Tripathi': array([ 14.  ,   0.  , 391.  ,  27.92, 267.  , 146.44]),
 'Robin Uthappa': array([ 13.  ,   0.  , 388.  ,  29.84, 235.  , 165.1 ]),
 'Sanju Samson': array([ 14.  ,   0.  , 386.  ,  27.57, 273.  , 141.39]),
 'Kieron Pollard': array([ 16.  ,   3.  , 385.  ,  29.61, 276.  , 139.49]),
 'Ajinkya Rahane': array([ 16.  ,   1.  , 382.  ,  25.46, 323.  , 118.26]),
 'Rishabh Pant': array([ 14.  ,   0.  , 366.  ,  26.14, 221.  , 165.61]),
 'Dinesh Karthik': array([ 13.  ,   3.  , 361.  ,  36.1 , 259.  , 139.38]),
 'Shreyas Iyer': array([ 12.  ,   2.  , 338.  ,  33.8 , 243.  , 139.09]),
 'Rohit Sharma': array([ 16.  ,   2.  , 333.  ,  23.78, 273.  , 121.97]),
 'Nitish Rana': array([ 12.  ,   1.  , 333.  ,  30.27, 264.  , 126.13]),
 'Manoj Tiwary': array([ 13.  ,   3.  , 324.  ,  32.4 , 236.  , 137.28]),
 'Brendon McCullum': array([ 11.,   0., 319.,  29., 217., 147.]),
 'Ben Stokes': array([ 11.  ,   1.  , 316.  ,  31.6 , 221.  , 142.98]),
 'Glenn Maxwell': array([ 13.  ,   3.  , 310.  ,  31.  , 179.  , 173.18]),
 'Virat Kohli': array([ 10.  ,   0.  , 308.  ,  30.8 , 252.  , 122.22]),
 'Aaron Finch': array([ 13.  ,   1.  , 299.  ,  24.91, 180.  , 166.11]),
 'Chris Lynn': array([  7.  ,   1.  , 295.  ,  49.16, 163.  , 180.98]),
 'MS Dhoni': array([ 15.  ,   4.  , 290.  ,  26.36, 250.  , 116.  ]),
 'Karun Nair': array([ 13.  ,   0.  , 281.  ,  21.61, 226.  , 124.33]),
 'Moises Henriques': array([ 11.  ,   5.  , 277.  ,  46.16, 203.  , 136.45]),
 'Ishan Kishan': array([ 10.  ,   0.  , 277.  ,  27.7 , 206.  , 134.46]),
 'Jos Buttler': array([ 10.  ,   0.  , 272.  ,  27.2 , 177.  , 153.67]),
 'Kedar Jadhav': array([ 13.  ,   1.  , 267.  ,  22.25, 186.  , 143.54]),
 'Shaun Marsh': array([  8.  ,   0.  , 264.  ,  33.  , 194.  , 136.08]),
 'Kane Williamson': array([  7.  ,   1.  , 256.  ,  42.66, 169.  , 151.47]),
 'Yuvraj Singh': array([ 11.  ,   2.  , 252.  ,  28.  , 177.  , 142.37]),
 'Hardik Pandya': array([ 16.  ,   9.  , 250.  ,  35.71, 160.  , 156.25]),
 'Krunal Pandya': array([ 11.  ,   4.  , 243.  ,  34.71, 179.  , 135.75]),
 'Dwayne Smith': array([ 12.  ,   1.  , 239.  ,  21.72, 156.  , 153.2 ]),
 'Wriddhiman Saha': array([ 11.  ,   1.  , 234.  ,  23.4 , 187.  , 125.13]),
 'Manan Vohra': array([  9.  ,   0.  , 229.  ,  25.44, 159.  , 144.02]),
 'Axar Patel': array([ 13.  ,   5.  , 227.  ,  28.37, 162.  , 140.12]),
 'Sunil Narine': array([ 14.  ,   1.  , 224.  ,  17.23, 130.  , 172.3 ]),
 'AB de Villiers': array([  9.  ,   1.  , 216.  ,  27.  , 163.  , 132.51]),
 'Chris Gayle': array([  9.  ,   0.  , 200.  ,  22.22, 163.  , 122.69]),
 'Mandeep Singh': array([ 10.  ,   0.  , 188.  ,  18.8 , 177.  , 106.21]),
 'Ravindra Jadeja': array([ 10.  ,   6.  , 158.  ,  39.5 , 113.  , 139.82]),
 'Chris Morris': array([  9.  ,   4.  , 154.  ,  30.8 ,  94.  , 163.82]),
 'Travis Head': array([  7.  ,   2.  , 151.  ,  30.2 , 108.  , 139.81]),
 'Pawan Negi': array([ 10.  ,   2.  , 144.  ,  18.  , 111.  , 129.72]),
 'Yusuf Pathan': array([ 11.  ,   3.  , 143.  ,  17.87, 115.  , 124.34]),
 'Corey Anderson': array([ 11.  ,   4.  , 142.  ,  20.28, 123.  , 115.44]),
 'Sam Billings': array([  6.  ,   0.  , 138.  ,  23.  , 104.  , 132.69]),
 'Lendl Simmons': array([  7.  ,   0.  , 137.  ,  19.57, 112.  , 122.32]),
 'Martin Guptill': array([  7.,   1., 132.,  22.,  88., 150.]),
 'Colin de Grandhomme': array([  9.  ,   1.  , 126.  ,  15.75,  92.  , 136.95]),
 'Suryakumar Yadav': array([  7.  ,   1.  , 105.  ,  17.5 ,  88.  , 119.31]),
 'Vijay Shankar': array([  4.  ,   2.  , 101.  ,  50.5 ,  75.  , 134.66]),
 'Ambati Rayudu': array([  5.  ,   0.  ,  91.  ,  18.2 ,  78.  , 116.66]),
 'David Miller': array([  4.  ,   1.  ,  83.  ,  27.66,  80.  , 103.75]),
 'Naman Ojha': array([  5.  ,   1.  ,  79.  ,  19.75,  65.  , 121.53]),
 'Dan Christian': array([  9.  ,   4.  ,  79.  ,  15.8 ,  49.  , 161.22]),
 'Deepak Hooda': array([  6.,   3.,  78.,  26.,  52., 150.]),
 'Stuart Binny': array([  7.  ,   2.  ,  78.  ,  15.6 ,  76.  , 102.63]),
 'Pat Cummins': array([  9.  ,   4.  ,  77.  ,  15.4 ,  53.  , 145.28]),
 'Shane Watson': array([ 7.  ,  1.  , 71.  , 11.83, 78.  , 91.02]),
 'Eoin Morgan': array([  4.  ,   0.  ,  65.  ,  16.25,  62.  , 104.83]),
 'Jason Roy': array([  3. ,   1. ,  59. ,  29.5,  40. , 147.5]),
 'Kagiso Rabada': array([ 3.  ,  0.  , 55.  , 18.33, 64.  , 85.93]),
 'James Faulkner': array([ 6.  ,  2.  , 54.  , 13.5 , 57.  , 94.73]),
 'Andrew Tye': array([  3.  ,   1.  ,  53.  ,  26.5 ,  30.  , 176.66]),
 'Saurabh Tiwary': array([  1.  ,   0.  ,  52.  ,  52.  ,  43.  , 120.93]),
 'Ben Cutting': array([  3.  ,   1.  ,  51.  ,  25.5 ,  26.  , 196.15]),
 'Mohit Sharma': array([  7. ,   1. ,  51. ,   8.5,  50. , 102. ]),
 'Amit Mishra': array([ 6.  ,  5.  , 49.  , 49.  , 52.  , 94.23]),
 'Karn Sharma': array([  6.  ,   0.  ,  49.  ,   8.16,  41.  , 119.51]),
 'Chris Woakes': array([ 7.  ,  3.  , 46.  , 11.5 , 47.  , 97.87]),
 'Sheldon Jackson': array([  3.  ,   1.  ,  38.  ,  19.  ,  31.  , 122.58]),
 'Mohammad Shami': array([  6.,   2.,  36.,   9.,  24., 150.]),
 'Ishank Jaggi': array([ 2.  ,  1.  , 33.  , 33.  , 39.  , 84.61]),
 'Sreenath Aravind': array([ 8.,  4., 32.,  8., 40., 80.]),
 'Angelo Mathews': array([  2.  ,   0.  ,  32.  ,  16.  ,  27.  , 118.51]),
 'Bipul Sharma': array([  3.  ,   2.  ,  31.  ,  31.  ,  24.  , 129.16]),
 'Marlon Samuels': array([ 4.  ,  0.  , 29.  ,  7.25, 31.  , 93.54]),
 'Basil Thampi': array([  5.,   5.,  28.,   0.,  28., 100.]),
 'Mayank Agarwal': array([ 3.  ,  0.  , 26.  ,  8.66, 27.  , 96.29]),
 'Aniket Choudhary': array([  3.,   2.,  25.,  25.,  20., 125.]),
 'Ankit Sharma': array([  1.  ,   0.  ,  25.  ,  25.  ,  15.  , 166.66]),
 'Kuldeep Yadav': array([ 2. ,  0. , 20. , 10. , 22. , 90.9]),
 'Mitchell Johnson': array([  3.  ,   3.  ,  20.  ,   0.  ,  17.  , 117.64]),
 'Vishnu Vinod': array([ 3.  ,  0.  , 19.  ,  6.33, 26.  , 73.07]),
 'Rahul Tewatia': array([  2.  ,   1.  ,  19.  ,  19.  ,  11.  , 172.72]),
 'Aditya Tare': array([ 3.  ,  0.  , 18.  ,  6.  , 23.  , 78.26]),
 'Marcus Stoinis': array([ 3.  ,  0.  , 17.  ,  5.66, 24.  , 70.83]),
 'Mitchell McClenaghan': array([  7.  ,   3.  ,  16.  ,   4.  ,  15.  , 106.66]),
 'Harbhajan Singh': array([  7.,   5.,  16.,   8.,  16., 100.]),
 'Jasprit Bumrah': array([  2.  ,   1.  ,  16.  ,  16.  ,  12.  , 133.33]),
 'Rajat Bhatia': array([ 2.  ,  1.  , 16.  , 16.  , 17.  , 94.11]),
 'Sachin Baby': array([  3.,   0.,  15.,   5.,  15., 100.]),
 'Anureet Singh': array([  1.,   0.,  15.,  15.,  12., 125.]),
 'Deepak Chahar': array([  1.  ,   0.  ,  14.  ,  14.  ,   6.  , 233.33]),
 'Nathan Coulter-Nile': array([  3.  ,   0.  ,  14.  ,   4.66,  12.  , 116.66]),
 'Yuzvendra Chahal': array([ 6.  ,  3.  , 13.  ,  4.33, 26.  , 50.  ]),
 'Samuel Badree': array([ 5.  ,  0.  , 13.  ,  2.6 , 23.  , 56.52]),
 'Carlos Brathwaite': array([ 2.,  0., 12.,  6., 15., 80.]),
 'Ankit Bawne': array([  1.,   1.,  12.,   0.,  12., 100.]),
 'Swapnil Singh': array([ 2.  ,  0.  , 12.  ,  6.  , 19.  , 63.15]),
 'Rashid Khan': array([  3.  ,   1.  ,  11.  ,   5.5 ,   9.  , 122.22]),
 'Umesh Yadav': array([ 4.  ,  4.  , 10.  ,  0.  , 13.  , 76.92]),
 'Washington Sundar': array([ 5.,  4.,  9.,  9., 12., 75.]),
 'Tymal Mills': array([ 3.  ,  0.  ,  8.  ,  2.66, 11.  , 72.72]),
 'Praveen Kumar': array([ 2.  ,  1.  ,  8.  ,  8.  ,  9.  , 88.88]),
 'Faf du Plessis': array([  1.  ,   0.  ,   8.  ,   8.  ,   7.  , 114.28]),
 'Ishant Sharma': array([ 3.  ,  1.  ,  8.  ,  4.  , 12.  , 66.66]),
 'Tim Southee': array([  1.  ,   0.  ,   7.  ,   7.  ,   3.  , 233.33]),
 'Adam Milne': array([ 3.  ,  1.  ,  7.  ,  3.5 , 12.  , 58.33]),
 'Lasith Malinga': array([  2.  ,   2.  ,   7.  ,   0.  ,   3.  , 233.33]),
 'Ankit Soni': array([ 3.  ,  1.  ,  7.  ,  3.5 ,  9.  , 77.77]),
 'Sandeep Sharma': array([  4.  ,   4.  ,   7.  ,   0.  ,   6.  , 116.66]),
 'Ashok Dinda': array([  1.,   0.,   7.,   7.,   7., 100.]),
 'Darren Bravo': array([  1.,   1.,   6.,   0.,   5., 120.]),
 'Iqbal Abdulla': array([ 1.  ,  1.  ,  5.  ,  0.  ,  7.  , 71.42]),
 'Adam Zampa': array([ 1.  ,  0.  ,  5.  ,  5.  ,  7.  , 71.42]),
 'Trent Boult': array([ 1. ,  1. ,  5. ,  0. ,  8. , 62.5]),
 'Zaheer Khan': array([ 3.  ,  2.  ,  4.  ,  4.  , 13.  , 30.76]),
 'Bhuvneshwar Kumar': array([  2.,   1.,   4.,   4.,   4., 100.]),
 'Varun Aaron': array([ 2.,  1.,  4.,  4., 10., 40.]),
 'Ankit Rajpoot': array([ 1.  ,  0.  ,  4.  ,  4.  ,  7.  , 57.14]),
 'Rahul Chahar': array([  1.,   1.,   3.,   0.,   2., 150.]),
 'Shahbaz Nadeem': array([ 4.  ,  1.  ,  2.  ,  0.66,  9.  , 22.22]),
 'KC Cariappa': array([ 2.  ,  0.  ,  2.  ,  1.  ,  7.  , 28.57]),
 'Jaydev Unadkat': array([ 2.,  2.,  2.,  0.,  5., 40.]),
 'Mohammad Nabi': array([ 1.  ,  0.  ,  2.  ,  2.  ,  3.  , 66.66]),
 'Piyush Chawla': array([ 1.  ,  0.  ,  2.  ,  2.  ,  6.  , 33.33]),
 'Irfan Pathan': array([ 1.  ,  0.  ,  2.  ,  2.  ,  3.  , 66.66]),
 'Pradeep Sangwan': array([ 3.,  1.,  2.,  1.,  4., 50.]),
 'Dhawal Kulkarni': array([ 1.,  0.,  1.,  1.,  2., 50.]),
 'Lockie Ferguson': array([  1.,   1.,   1.,   0.,   1., 100.]),
 'Shakib Al Hasan': array([  1.,   1.,   1.,   0.,   1., 100.]),
 'Shardul Thakur': array([3., 0., 0., 0., 3., 0.]),
 'Siddarth Kaul': array([1., 1., 0., 0., 2., 0.]),
 'Munaf Patel': array([1., 0., 0., 0., 1., 0.]),
 'Akshdeep Nath': array([1., 0., 0., 0., 1., 0.]),
 'Chris Jordan': array([1., 0., 0., 0., 1., 0.]),
 'Imran Tahir': array([1., 1., 0., 0., 2., 0.])}

In [103]:
name_dict_array.__len__()

2

In [104]:
temp=[len(i) for i in name_dict_array]
idx=0
R=len(name_dict_array[0])
for i,j in enumerate(temp):
    if(j>R):
        R=j
        idx=i
print(idx,R)

1 143

In [105]:
ref=name_dict_array.pop(idx)

In [106]:
YEARS-=1

In [107]:
YEARS

1

In [108]:
final=[]
for i in range(YEARS):
    for ref_name in ref.keys():
#         print(ref_name,ref[ref_name],name_dict_array[i].get(ref_name))
        x=name_dict_array[i].get(ref_name)
        if(x is not None):
            T=[]
            for k in range(len(ref[ref_name])):
                T.append(ref[ref_name][k]+name_dict_array[i].get(ref_name)[k])
#             print(T)
            T2=[ref_name]
            for l in T:
                T2.append(l/(YEARS+1))
            final.append(T2)
        
final

[['Gautam Gambhir', 10.5, 2.0, 291.5, 29.25, 238.5, 112.305],
 ['Shikhar Dhawan', 15.0, 2.0, 488.0, 37.535, 369.5, 132.15],
 ['Suresh Raina',
  14.5,
  3.0,
  443.5,
  38.629999999999995,
  321.5,
  138.20499999999998],
 ['Manish Pandey', 13.0, 3.5, 340.0, 37.655, 277.0, 122.005],
 ['Parthiv Patel', 11.0, 0.5, 274.0, 27.64, 201.0, 137.585],
 ['Rahul Tripathi', 13.0, 1.5, 308.5, 26.515, 217.0, 140.88],
 ['Robin Uthappa',
  14.5,
  0.0,
  369.5,
  25.884999999999998,
  250.0,
  148.77499999999998],
 ['Sanju Samson', 14.5, 0.5, 413.5, 29.535, 296.5, 139.6],
 ['Kieron Pollard', 12.0, 2.0, 259.0, 24.305, 188.0, 136.245],
 ['Ajinkya Rahane', 15.0, 1.0, 376.0, 26.96, 318.0, 118.235],
 ['Rishabh Pant', 14.0, 0.5, 525.0, 39.375, 307.5, 169.60500000000002],
 ['Dinesh Karthik', 14.5, 4.5, 429.5, 42.95, 298.0, 143.575],
 ['Shreyas Iyer', 13.0, 2.5, 374.5, 35.58, 276.5, 135.835],
 ['Rohit Sharma', 15.0, 2.0, 309.5, 23.805, 244.0, 127.495],
 ['Nitish Rana', 13.5, 1.5, 318.5, 26.825, 248.0, 128.57999999999998],
 ['Manoj Tiwary', 8.5, 2.0, 185.5, 24.03, 140.0, 122.045],
 ['Brendon McCullum', 8.5, 0.0, 223.0, 25.08, 152.5, 145.655],
 ['Ben Stokes', 12.0, 1.0, 256.0, 23.965, 191.0, 132.355],
 ['Glenn Maxwell', 12.5, 1.5, 239.5, 22.54, 149.5, 157.005],
 ['Virat Kohli', 12.0, 1.5, 419.0, 39.49, 316.5, 130.66],
 ['Aaron Finch', 11.0, 1.0, 216.5, 20.83, 140.0, 150.055],
 ['Chris Lynn', 11.5, 1.0, 393.0, 40.94499999999999, 270.0, 155.605],
 ['MS Dhoni', 15.0, 6.5, 372.5, 51.095, 276.0, 133.32999999999998],
 ['Karun Nair', 12.5, 0.0, 291.0, 23.345, 223.5, 130.26],
 ['Ishan Kishan', 11.0, 0.0, 276.0, 25.305, 195.0, 141.95499999999998],
 ['Jos Buttler', 11.5, 1.5, 410.0, 41.0, 265.0, 154.45499999999998],
 ['Kedar Jadhav', 7.0, 1.0, 145.5, 11.125, 104.0, 126.315],
 ['Kane Williamson', 12.0, 2.0, 495.5, 47.58, 342.5, 146.95499999999998],
 ['Yuvraj Singh', 8.5, 1.0, 158.5, 19.415, 125.0, 115.70500000000001],
 ['Hardik Pandya', 14.5, 6.5, 255.0, 32.295, 177.5, 144.79000000000002],
 ['Krunal Pandya', 12.0, 3.5, 235.5, 28.755000000000003, 168.0, 140.485],
 ['Wriddhiman Saha', 10.5, 1.5, 178.0, 19.325, 144.5, 122.365],
 ['Manan Vohra', 6.5, 0.0, 142.0, 19.595, 103.0, 130.52],
 ['Axar Patel', 10.5, 3.5, 153.5, 20.85, 115.5, 128.03],
 ['Sunil Narine', 15.0, 0.5, 290.5, 19.77, 159.0, 181.095],
 ['AB de Villiers', 10.0, 1.5, 348.0, 40.165, 219.0, 153.52499999999998],
 ['Chris Gayle', 10.0, 1.0, 284.0, 31.55, 207.5, 134.36],
 ['Mandeep Singh', 11.5, 1.5, 220.0, 22.0, 181.5, 120.845],
 ['Ravindra Jadeja', 10.0, 5.5, 123.5, 28.65, 93.5, 130.045],
 ['Chris Morris', 6.5, 3.5, 100.0, 38.4, 60.0, 170.37],
 ['Pawan Negi', 6.0, 1.0, 73.5, 9.75, 58.0, 94.86],
 ['Yusuf Pathan', 12.0, 3.5, 201.5, 23.375, 157.5, 127.17],
 ['Corey Anderson', 7.0, 2.0, 79.5, 12.97, 72.5, 96.35499999999999],
 ['Sam Billings', 7.0, 0.0, 123.0, 18.25, 91.0, 135.575],
 ['Colin de Grandhomme', 8.5, 2.0, 128.5, 20.975, 88.0, 146.45],
 ['Suryakumar Yadav', 10.5, 0.5, 308.5, 27.035, 236.0, 126.32000000000001],
 ['Vijay Shankar', 7.5, 4.5, 156.5, 51.75, 111.5, 138.95],
 ['Ambati Rayudu', 10.5, 1.0, 346.5, 30.6, 240.0, 133.20499999999998],
 ['David Miller', 3.5, 1.0, 78.5, 32.33, 72.0, 109.685],
 ['Naman Ojha', 3.0, 0.5, 40.0, 10.375, 34.5, 73.265],
 ['Dan Christian', 6.0, 2.5, 52.5, 14.4, 41.0, 120.0],
 ['Deepak Hooda', 7.0, 3.5, 82.5, 23.875, 66.5, 128.7],
 ['Stuart Binny', 6.0, 1.0, 61.0, 12.2, 57.5, 107.725],
 ['Shane Watson', 11.0, 1.0, 313.0, 25.735, 218.5, 122.805],
 ['Jason Roy', 4.0, 1.0, 89.5, 29.75, 67.0, 137.575],
 ['Andrew Tye', 5.5, 1.5, 42.5, 15.915, 34.0, 130.435],
 ['Ben Cutting', 4.5, 1.5, 73.5, 24.75, 42.0, 180.82999999999998],
 ['Mohit Sharma', 5.5, 2.0, 30.5, 9.25, 31.5, 89.46000000000001],
 ['Amit Mishra', 3.5, 3.0, 25.0, 24.5, 27.0, 72.11500000000001],
 ['Chris Woakes', 5.5, 2.5, 31.5, 10.0, 33.0, 93.67],
 ['Mohammad Shami', 3.5, 1.0, 21.5, 8.0, 15.0, 133.32999999999998],
 ['Basil Thampi', 3.5, 3.0, 15.5, 1.5, 17.0, 75.0],
 ['Mayank Agarwal', 7.0, 0.5, 73.0, 10.33, 60.5, 111.97],
 ['Kuldeep Yadav', 2.5, 1.0, 16.0, 11.0, 23.0, 70.45],
 ['Mitchell Johnson', 2.5, 2.5, 18.0, 0.0, 14.0, 131.545],
 ['Rahul Tewatia', 3.5, 1.5, 34.5, 17.83, 27.0, 144.495],
 ['Marcus Stoinis', 5.0, 1.5, 58.0, 15.205, 50.0, 100.54499999999999],
 ['Mitchell McClenaghan', 6.0, 3.0, 13.5, 4.75, 12.5, 108.33],
 ['Harbhajan Singh', 5.0, 2.5, 22.5, 8.83, 26.0, 90.275],
 ['Jasprit Bumrah', 2.5, 1.5, 13.0, 13.0, 11.5, 112.11500000000001],
 ['Anureet Singh', 1.0, 0.5, 9.0, 7.5, 8.0, 100.0],
 ['Deepak Chahar', 2.5, 0.5, 32.0, 15.33, 17.5, 202.87],
 ['Yuzvendra Chahal', 3.5, 2.0, 6.5, 2.165, 15.0, 25.0],
 ['Carlos Brathwaite', 3.0, 0.5, 43.5, 15.5, 31.5, 118.125],
 ['Rashid Khan', 5.0, 1.5, 35.0, 8.65, 20.0, 156.26999999999998],
 ['Umesh Yadav', 4.5, 2.5, 6.5, 0.375, 12.0, 52.095],
 ['Washington Sundar', 5.5, 3.5, 37.0, 15.33, 25.0, 123.025],
 ['Faf du Plessis', 3.5, 0.5, 85.0, 20.2, 68.0, 119.93],
 ['Tim Southee', 2.5, 1.0, 29.5, 16.5, 24.5, 173.185],
 ['Sandeep Sharma', 3.5, 2.5, 3.5, 0.0, 5.0, 58.33],
 ['Trent Boult', 1.0, 0.5, 2.5, 0.0, 5.0, 31.25],
 ['Bhuvneshwar Kumar', 3.0, 1.5, 8.5, 5.25, 10.0, 90.625],
 ['Ankit Rajpoot', 2.0, 0.0, 7.5, 3.83, 12.5, 59.125],
 ['Shahbaz Nadeem', 2.5, 1.0, 4.0, 0.33, 8.5, 48.61],
 ['Jaydev Unadkat', 4.5, 2.5, 25.5, 6.125, 21.5, 84.47],
 ['Mohammad Nabi', 1.5, 0.0, 10.0, 5.5, 7.5, 108.33],
 ['Piyush Chawla', 4.0, 1.5, 14.5, 4.375, 20.0, 56.37],
 ['Pradeep Sangwan', 2.0, 0.5, 1.0, 0.5, 4.0, 25.0],
 ['Dhawal Kulkarni', 1.5, 0.5, 3.5, 3.5, 4.5, 67.85499999999999],
 ['Shakib Al Hasan', 7.0, 1.5, 120.0, 10.86, 99.0, 110.655],
 ['Shardul Thakur', 2.0, 0.5, 7.5, 0.0, 4.0, 150.0],
 ['Siddarth Kaul', 2.5, 1.0, 1.5, 0.5, 8.0, 10.71],
 ['Akshdeep Nath', 1.0, 0.0, 4.5, 4.5, 7.0, 34.615],
 ['Imran Tahir', 1.0, 1.0, 1.0, 0.0, 2.0, 50.0]]

In [110]:
batsmen_final_list=pd.DataFrame(final,columns=['Player','Inns','NO','Runs','Avg','BF','SR'])
# bowlers_final_list=pd.DataFrame(final,columns=['Player','Ov','Wkts','Avg','Econ','SR'])

In [111]:
batsmen_final_list

             Player  Inns   NO   Runs     Avg     BF       SR
0    Gautam Gambhir  10.5  2.0  291.5  29.250  238.5  112.305
1    Shikhar Dhawan  15.0  2.0  488.0  37.535  369.5  132.150
2      Suresh Raina  14.5  3.0  443.5  38.630  321.5  138.205
3     Manish Pandey  13.0  3.5  340.0  37.655  277.0  122.005
4     Parthiv Patel  11.0  0.5  274.0  27.640  201.0  137.585
..              ...   ...  ...    ...     ...    ...      ...
89  Shakib Al Hasan   7.0  1.5  120.0  10.860   99.0  110.655
90   Shardul Thakur   2.0  0.5    7.5   0.000    4.0  150.000
91    Siddarth Kaul   2.5  1.0    1.5   0.500    8.0   10.710
92    Akshdeep Nath   1.0  0.0    4.5   4.500    7.0   34.615
93      Imran Tahir   1.0  1.0    1.0   0.000    2.0   50.000

[94 rows x 7 columns]

# Bowlers

In [112]:
import pandas as pd
import numpy as np

In [113]:
YEARS=2
batsmen_dataset=[]
bowlers_dataset=[]

for i in range(YEARS):
    batsmen_dataset.append(pd.read_excel('y'+str(i+1)+'.xlsx','Batsmen'))
    bowlers_dataset.append(pd.read_excel('y'+str(i+1)+'.xlsx','Bowlers'))

In [114]:
curr=bowlers_dataset

In [115]:
curr[1]

                   Player    Ov  Wkts    Avg   Econ     SR
0       Bhuvneshwar Kumar  52.2    26  14.19   7.05  12.07
1          Jaydev Unadkat  45.5    24  13.41   7.02  11.45
2          Jasprit Bumrah  59.2    20  21.95   7.39  17.80
3    Mitchell McClenaghan  54.0    19  26.68   9.38  17.05
4             Imran Tahir  47.0    18  20.50   7.85  15.66
..                    ...   ...   ...    ...    ...    ...
101          Irfan Pathan   2.0     0   0.00  13.00   0.00
102         Barinder Sran   2.0     0   0.00  14.50   0.00
103         Manpreet Gony   2.0     0   0.00  16.00   0.00
104          Ankit Sharma   1.0     0   0.00  16.00   0.00
105        Kieron Pollard   1.5     0   0.00  16.36   0.00

[106 rows x 6 columns]

In [116]:
# name_dict={value:curr[0].iloc[:,1:].values[idx] for idx,value in enumerate(curr[0].iloc[:,0].values)}

In [117]:
name_dict_array=[]
for i in range(YEARS):
    temp={value:curr[i].iloc[:,1:].values[idx] for idx,value in enumerate(curr[i].iloc[:,0].values)}
    name_dict_array.append(temp)

In [118]:
name_dict_array[1]

{'Bhuvneshwar Kumar': array([52.2 , 26.  , 14.19,  7.05, 12.07]),
 'Jaydev Unadkat': array([45.5 , 24.  , 13.41,  7.02, 11.45]),
 'Jasprit Bumrah': array([59.2 , 20.  , 21.95,  7.39, 17.8 ]),
 'Mitchell McClenaghan': array([54.  , 19.  , 26.68,  9.38, 17.05]),
 'Imran Tahir': array([47.  , 18.  , 20.5 ,  7.85, 15.66]),
 'Rashid Khan': array([54.  , 17.  , 21.05,  6.62, 19.05]),
 'Sandeep Sharma': array([48.  , 17.  , 23.41,  8.29, 16.94]),
 'Umesh Yadav': array([48.3 , 17.  , 24.11,  8.45, 17.11]),
 'Chris Woakes': array([44.  , 17.  , 22.7 ,  8.77, 15.52]),
 'Pawan Negi': array([32.1 , 16.  , 12.31,  6.12, 12.06]),
 'Siddarth Kaul': array([35.4 , 16.  , 18.75,  8.41, 13.37]),
 'Axar Patel': array([48.  , 15.  , 24.13,  7.54, 19.2 ]),
 'Nathan Coulter-Nile': array([28.2 , 15.  , 15.2 ,  8.04, 11.33]),
 'Pat Cummins': array([46.1 , 15.  , 24.86,  8.07, 18.46]),
 'Yuzvendra Chahal': array([43.3 , 14.  , 23.78,  7.65, 18.64]),
 'Karn Sharma': array([30.4 , 13.  , 16.46,  6.97, 14.15]),
 'Mohit Sharma': array([45.4 , 13.  , 31.53,  8.97, 21.07]),
 'Andrew Tye': array([21.  , 12.  , 11.75,  6.71, 10.5 ]),
 'Ben Stokes': array([44.  , 12.  , 26.33,  7.18, 22.  ]),
 'Chris Morris': array([31.  , 12.  , 20.  ,  7.74, 15.5 ]),
 'Kuldeep Yadav': array([41.  , 12.  , 28.33,  8.29, 20.5 ]),
 'Dan Christian': array([40.  , 11.  , 27.09,  7.45, 21.81]),
 'Shardul Thakur': array([38.1 , 11.  , 28.63,  8.25, 20.81]),
 'Lasith Malinga': array([44.5 , 11.  , 34.72,  8.52, 24.45]),
 'Basil Thampi': array([44.4 , 11.  , 38.54,  9.49, 24.36]),
 'Krunal Pandya': array([40.  , 10.  , 27.3 ,  6.82, 24.  ]),
 'Sunil Narine': array([59.  , 10.  , 41.2 ,  6.98, 35.4 ]),
 'Zaheer Khan': array([40.1 , 10.  , 31.3 ,  7.79, 24.1 ]),
 'Amit Mishra': array([38.5 , 10.  , 34.3 ,  8.83, 23.3 ]),
 'Mohammed Siraj': array([23.  , 10.  , 21.2 ,  9.21, 13.8 ]),
 'Samuel Badree': array([25.  ,  9.  , 20.88,  7.52, 16.66]),
 'Washington Sundar': array([30.  ,  8.  , 23.12,  6.16, 22.5 ]),
 'Harbhajan Singh': array([41.  ,  8.  , 33.25,  6.48, 30.75]),
 'Ashish Nehra': array([21.1 ,  8.  , 24.62,  9.3 , 15.87]),
 'Glenn Maxwell': array([19.  ,  7.  , 17.85,  6.57, 16.28]),
 'Mitchell Johnson': array([20.  ,  7.  , 20.14,  7.05, 17.14]),
 'Varun Aaron': array([20.  ,  7.  , 23.28,  8.15, 17.14]),
 'Adam Zampa': array([19.5 ,  7.  , 23.28,  8.21, 17.  ]),
 'Shahbaz Nadeem': array([17.5 ,  6.  , 19.83,  6.67, 17.83]),
 'Hardik Pandya': array([26.  ,  6.  , 35.5 ,  8.19, 26.  ]),
 'Kagiso Rabada': array([21.2 ,  6.  , 31.33,  8.81, 21.33]),
 'Piyush Chawla': array([20.  ,  6.  , 29.83,  8.95, 20.  ]),
 'Praveen Kumar': array([16.3 ,  6.  , 25.16,  9.15, 16.5 ]),
 'James Faulkner': array([26.2 ,  6.  , 43.  ,  9.79, 26.33]),
 'Aniket Choudhary': array([16.5 ,  5.  , 28.8 ,  8.55, 20.2 ]),
 'Tymal Mills': array([17.5 ,  5.  , 30.6 ,  8.57, 21.4 ]),
 'Sreenath Aravind': array([30.3 ,  5.  , 55.  ,  9.01, 36.6 ]),
 'Trent Boult': array([23.5 ,  5.  , 43.2 ,  9.06, 28.6 ]),
 'Shane Watson': array([26.5 ,  5.  , 49.  ,  9.13, 32.2 ]),
 'Ravindra Jadeja': array([38.  ,  5.  , 69.8 ,  9.18, 45.6 ]),
 'Mohammad Shami': array([26.  ,  5.  , 48.6 ,  9.34, 31.2 ]),
 'Pradeep Sangwan': array([18.  ,  5.  , 36.2 , 10.05, 21.6 ]),
 'Ankit Rajpoot': array([14.  ,  4.  , 26.75,  7.64, 21.  ]),
 'Stuart Binny': array([ 6.  ,  4.  , 12.5 ,  8.33,  9.  ]),
 'Colin de Grandhomme': array([16.  ,  4.  , 33.75,  8.43, 24.  ]),
 'KC Cariappa': array([15.  ,  4.  , 31.75,  8.46, 22.5 ]),
 'Rahul Tewatia': array([ 9.  ,  3.  , 16.33,  5.44, 18.  ]),
 'Lockie Ferguson': array([13.  ,  3.  , 31.  ,  7.15, 26.  ]),
 'Bipul Sharma': array([16.2 ,  3.  , 43.  ,  7.89, 32.66]),
 'Dhawal Kulkarni': array([18.5 ,  3.  , 57.66,  9.18, 37.66]),
 'Adam Milne': array([14.  ,  3.  , 44.66,  9.57, 28.  ]),
 'Tim Southee': array([10. ,  3. , 32. ,  9.6, 20. ]),
 'Corey Anderson': array([18.5 ,  3.  , 62.  ,  9.87, 37.66]),
 'Harshal Patel': array([ 4.  ,  3.  , 14.33, 10.75,  8.  ]),
 'Mohammad Nabi': array([11.  ,  2.  , 29.  ,  5.27, 33.  ]),
 'Rajat Bhatia': array([ 7.  ,  2.  , 27.5 ,  7.85, 21.  ]),
 'Ankit Soni': array([18.1 ,  2.  , 72.  ,  7.92, 54.5 ]),
 'Rahul Chahar': array([ 7.  ,  2.  , 29.  ,  8.28, 21.  ]),
 'Billy Stanlake': array([ 8.  ,  2.  , 35.  ,  8.75, 24.  ]),
 'T Natarajan': array([12.4 ,  2.  , 57.5 ,  9.07, 38.  ]),
 'Travis Head': array([ 8.  ,  2.  , 40.5 , 10.12, 24.  ]),
 'Vinay Kumar': array([ 3.  ,  2.  , 15.5 , 10.33,  9.  ]),
 'Marcus Stoinis': array([10.3 ,  2.  , 55.  , 10.47, 31.5 ]),
 'Deepak Hooda': array([ 4. ,  2. , 21. , 10.5, 12. ]),
 'Iqbal Abdulla': array([ 5. ,  2. , 27.5, 11. , 15. ]),
 'Dwayne Smith': array([13.  ,  2.  , 74.  , 11.38, 39.  ]),
 'Nathu Singh': array([ 4.  ,  1.  , 15.  ,  3.75, 24.  ]),
 'Avesh Khan': array([ 4.  ,  1.  , 23.  ,  5.75, 24.  ]),
 'Munaf Patel': array([ 7.  ,  1.  , 57.  ,  8.14, 42.  ]),
 'Suresh Raina': array([ 12. ,   1. , 102. ,   8.5,  72. ]),
 'Swapnil Singh': array([ 7.  ,  1.  , 61.  ,  8.71, 42.  ]),
 'Chris Jordan': array([1., 1., 9., 9., 6.]),
 'Ben Cutting': array([ 12.4 ,   1.  , 123.  ,   9.71,  76.  ]),
 'Yusuf Pathan': array([ 4.  ,  1.  , 41.  , 10.25, 24.  ]),
 'Moises Henriques': array([ 24.  ,   1.  , 248.  ,  10.33, 144.  ]),
 'Shubham Agarwal': array([ 4. ,  1. , 42. , 10.5, 24. ]),
 'Deepak Chahar': array([ 7.  ,  1.  , 74.  , 10.57, 42.  ]),
 'Yuvraj Singh': array([ 2.,  1., 22., 11., 12.]),
 'Carlos Brathwaite': array([ 6.  ,  1.  , 67.  , 11.16, 36.  ]),
 'Ashok Dinda': array([ 10. ,   1. , 119. ,  11.9,  60. ]),
 'Matt Henry': array([ 5. ,  1. , 71. , 14.2, 30. ]),
 'Jayant Yadav': array([6., 0., 0., 7., 0.]),
 'Tejas Baroka': array([3.3 , 0.  , 0.  , 9.42, 0.  ]),
 'Ishant Sharma': array([18.  ,  0.  ,  0.  ,  9.94,  0.  ]),
 'Shakib Al Hasan': array([ 3.  ,  0.  ,  0.  , 10.33,  0.  ]),
 'Shadab Jakati': array([ 5. ,  0. ,  0. , 10.4,  0. ]),
 'Angelo Mathews': array([ 5. ,  0. ,  0. , 11.2,  0. ]),
 'Marlon Samuels': array([ 3.  ,  0.  ,  0.  , 11.33,  0.  ]),
 'Rahul Tripathi': array([ 1.,  0.,  0., 12.,  0.]),
 'Mustafizur Rahman': array([ 2.4 ,  0.  ,  0.  , 12.75,  0.  ]),
 'Anureet Singh': array([ 2.,  0.,  0., 13.,  0.]),
 'Irfan Pathan': array([ 2.,  0.,  0., 13.,  0.]),
 'Barinder Sran': array([ 2. ,  0. ,  0. , 14.5,  0. ]),
 'Manpreet Gony': array([ 2.,  0.,  0., 16.,  0.]),
 'Ankit Sharma': array([ 1.,  0.,  0., 16.,  0.]),
 'Kieron Pollard': array([ 1.5 ,  0.  ,  0.  , 16.36,  0.  ])}

In [119]:
name_dict_array.__len__()

2

In [120]:
temp=[len(i) for i in name_dict_array]
idx=0
R=len(name_dict_array[0])
for i,j in enumerate(temp):
    if(j>R):
        R=j
        idx=i
print(idx,R)

1 106

In [121]:
ref=name_dict_array.pop(idx)

In [122]:
YEARS-=1

In [123]:
YEARS

1

In [124]:
final=[]
for i in range(YEARS):
    for ref_name in ref.keys():
#         print(ref_name,ref[ref_name],name_dict_array[i].get(ref_name))
        x=name_dict_array[i].get(ref_name)
        if(x is not None):
            T=[]
            for k in range(len(ref[ref_name])):
                T.append(ref[ref_name][k]+name_dict_array[i].get(ref_name)[k])
#             print(T)
            T2=[ref_name]
            for l in T:
                T2.append(l/(YEARS+1))
            final.append(T2)
        
final

[['Bhuvneshwar Kumar',
  49.150000000000006,
  17.5,
  26.759999999999998,
  7.355,
  21.42],
 ['Jaydev Unadkat', 47.85, 17.5, 28.795, 8.335, 19.45],
 ['Jasprit Bumrah', 56.6, 18.5, 21.915, 7.135, 18.425],
 ['Mitchell McClenaghan', 47.0, 16.5, 25.195, 8.84, 17.095],
 ['Imran Tahir', 33.7, 12.0, 25.915, 8.469999999999999, 18.16],
 ['Rashid Khan', 61.0, 19.0, 21.425, 6.675000000000001, 19.235],
 ['Sandeep Sharma', 46.0, 14.5, 25.58, 7.924999999999999, 19.47],
 ['Umesh Yadav', 50.7, 18.5, 22.505, 8.155, 16.53],
 ['Chris Woakes', 31.1, 12.5, 23.225, 9.565, 14.635],
 ['Pawan Negi', 18.05, 8.5, 30.655, 9.185, 18.03],
 ['Siddarth Kaul', 50.7, 18.5, 22.395, 8.344999999999999, 16.11],
 ['Axar Patel', 37.0, 9.0, 48.394999999999996, 7.960000000000001, 35.6],
 ['Yuzvendra Chahal', 46.65, 13.0, 27.015, 7.455, 21.82],
 ['Karn Sharma', 19.85, 8.5, 19.355, 8.165, 14.2],
 ['Mohit Sharma', 37.4, 10.0, 38.765, 9.91, 23.245],
 ['Andrew Tye', 38.5, 18.0, 15.205, 7.355, 12.25],
 ['Ben Stokes', 40.5, 10.0, 32.099999999999994, 7.68, 24.875],
 ['Chris Morris', 22.5, 7.5, 33.83, 8.975000000000001, 21.75],
 ['Kuldeep Yadav', 46.1, 14.5, 26.455, 8.215, 19.305],
 ['Dan Christian', 25.75, 7.5, 26.17, 7.99, 19.78],
 ['Shardul Thakur', 42.25, 13.5, 27.78, 8.74, 19.155],
 ['Basil Thampi', 27.25, 8.0, 30.67, 10.350000000000001, 18.28],
 ['Krunal Pandya', 40.05, 11.0, 25.48, 6.945, 22.04],
 ['Sunil Narine', 60.0, 13.5, 34.335, 7.315, 28.46],
 ['Amit Mishra', 37.75, 11.0, 28.15, 7.98, 20.9],
 ['Mohammed Siraj', 32.0, 10.5, 27.28, 9.08, 18.08],
 ['Washington Sundar', 25.0, 6.0, 35.56, 7.88, 26.25],
 ['Harbhajan Singh', 36.25, 7.5, 35.91, 7.48, 29.015],
 ['Glenn Maxwell', 17.5, 6.0, 22.125, 7.41, 17.740000000000002],
 ['Mitchell Johnson', 20.5, 4.5, 64.07, 8.665, 40.07],
 ['Shahbaz Nadeem', 16.25, 4.5, 36.745, 8.7, 23.915],
 ['Hardik Pandya', 34.2, 12.0, 28.33, 8.555, 20.11],
 ['Piyush Chawla', 34.5, 10.0, 29.625, 8.675, 20.5],
 ['Trent Boult', 37.95, 11.5, 34.54, 8.95, 23.075000000000003],
 ['Shane Watson', 27.25, 5.5, 45.415, 9.045000000000002, 30.1],
 ['Ravindra Jadeja', 39.5, 8.0, 48.67, 8.285, 33.980000000000004],
 ['Mohammad Shami', 19.75, 4.0, 48.3, 9.870000000000001, 29.43],
 ['Pradeep Sangwan', 10.0, 2.5, 18.1, 9.775, 10.8],
 ['Ankit Rajpoot', 20.05, 7.5, 23.509999999999998, 8.08, 17.634999999999998],
 ['Stuart Binny', 4.0, 2.0, 6.25, 12.415, 4.5],
 ['Colin de Grandhomme', 15.5, 3.0, 49.125, 8.515, 34.5],
 ['Rahul Tewatia', 15.5, 4.5, 22.58, 6.65, 20.0],
 ['Dhawal Kulkarni', 19.0, 3.5, 52.33, 9.325, 33.705],
 ['Tim Southee', 19.5, 4.0, 42.1, 9.3, 27.4],
 ['Corey Anderson', 13.45, 3.0, 50.165, 11.565, 27.494999999999997],
 ['Harshal Patel', 10.65, 5.0, 19.09, 10.145, 11.5],
 ['Mohammad Nabi', 8.0, 1.5, 38.0, 7.335, 31.5],
 ['Billy Stanlake', 12.0, 3.5, 30.5, 8.434999999999999, 21.6],
 ['Vinay Kumar', 3.25, 2.0, 24.0, 13.64, 10.25],
 ['Marcus Stoinis', 10.65, 2.5, 47.5, 10.685, 26.75],
 ['Deepak Hooda', 3.5, 1.0, 10.5, 9.25, 6.0],
 ['Avesh Khan', 11.5, 2.5, 37.0, 8.24, 26.25],
 ['Chris Jordan', 2.5, 0.5, 4.5, 8.375, 3.0],
 ['Ben Cutting', 14.7, 1.5, 103.5, 9.795000000000002, 63.5],
 ['Yusuf Pathan', 3.0, 1.0, 27.5, 8.625, 18.0],
 ['Deepak Chahar', 22.55, 5.5, 50.9, 8.925, 32.45],
 ['Yuvraj Singh', 2.0, 0.5, 11.0, 11.25, 6.0],
 ['Carlos Brathwaite', 8.05, 3.0, 42.9, 10.2, 24.1],
 ['Shakib Al Hasan', 30.0, 7.0, 16.285, 9.165, 12.21],
 ['Mustafizur Rahman', 14.85, 3.5, 16.425, 10.555, 11.785],
 ['Anureet Singh', 3.0, 0.5, 21.0, 11.75, 12.0],
 ['Barinder Sran', 12.0, 2.0, 28.625, 12.45, 16.5],
 ['Ankit Sharma', 1.0, 0.0, 0.0, 13.5, 0.0]]

In [126]:
bowlers_final_list=pd.DataFrame(final,columns=['Player','Ov','Wkts','Avg','Econ','SR'])

In [127]:
bowlers_final_list

                  Player     Ov  Wkts     Avg    Econ      SR
0      Bhuvneshwar Kumar  49.15  17.5  26.760   7.355  21.420
1         Jaydev Unadkat  47.85  17.5  28.795   8.335  19.450
2         Jasprit Bumrah  56.60  18.5  21.915   7.135  18.425
3   Mitchell McClenaghan  47.00  16.5  25.195   8.840  17.095
4            Imran Tahir  33.70  12.0  25.915   8.470  18.160
..                   ...    ...   ...     ...     ...     ...
58       Shakib Al Hasan  30.00   7.0  16.285   9.165  12.210
59     Mustafizur Rahman  14.85   3.5  16.425  10.555  11.785
60         Anureet Singh   3.00   0.5  21.000  11.750  12.000
61         Barinder Sran  12.00   2.0  28.625  12.450  16.500
62          Ankit Sharma   1.00   0.0   0.000  13.500   0.000

[63 rows x 6 columns]

In [128]:
import xlsxwriter
writer = pd.ExcelWriter('merged.xlsx', engine='xlsxwriter')
batsmen_final_list.to_excel(writer, sheet_name='Batsmen',index=False)
bowlers_final_list.to_excel(writer, sheet_name='Bowlers',index=False)
writer.save()